.cell {
    height: 50px;
    width: 50px;
    background-color: blue;
    text-align: center;
    line-height: 50px;
}
content {
}

upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

upper-container button {
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    
}

upper-container button:hover {
    background: gold;
    color: #fff;
  }


.enemy-cell {
    height: 50px;
    width: 50px;
    background-color: red;
    text-align: center;
    line-height: 50px;
}

.number-cell {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.letter-cell {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-ship {
    background-color: gold;
}

.miss {
    background-color: white;
}

.hit::before {
    content: "X";
  }

.sunk {
    background-color: black;
}